@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}
%base_button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	white-space: nowrap;
	transition: all 0.3s ease;
	cursor: pointer;
	text-decoration: none;
	user-select: none;
}

%about_where_button {
	@extend %base_button;

	height: 5.4rem;
	line-height: 5.4rem;
	font-size: 1.6rem;
	font-family: $f_Nunito;
	text-transform: uppercase;
	border: 2px solid #2cc84d;
	border-radius: 1.5rem;
	padding: 0rem 3.4rem;
	color: #495340;
	gap: 0.7rem;

	&:nth-child(2) {
		color: #326a00;
	}

	& span {
		transition: all 0.3s ease;
		background-color: #495340;
		mask-image: url(../imgs/coockie_img.svg);
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
		height: 1.8rem;
		width: 1.8rem;
	}

	&:nth-child(2) span {
		background-color: #326a00;
	}

	&:hover {
		color: #2cc84d;

		& span {
			background-color: #2cc84d;
		}
	}
}
%book_trial_button {
	@extend %base_button;

	color: $c_white;
	background-color: #2cc84d;
	height: 5rem;
	line-height: 5rem;
	font-family: $f_Inter;
	font-weight: 500;
	font-size: 2.1rem;
	padding: 0rem 1.8rem;
	border-radius: 0.6rem;
	box-shadow:
		0 3px 8px 0 rgba(156, 255, 177, 0.5),
		0 0 0 2px #2cc84d,
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		inset 0 2px 0 0 #9cffb1;
	& span {
		display: inline-block;
		height: 1.8rem;
		width: 1.8rem;
		margin-right: 1.5rem;
		transition: all 0.3s ease;
		background-color: $c_white;
		mask-image: url(../imgs/trial_star.svg);
		mask-position: center;
		mask-size: contain;
		mask-repeat: no-repeat;
	}
	&:hover {
		box-shadow:
			0 3px 8px 0 rgba(156, 255, 177, 0.5),
			0 0 0 2px #66fe86,
			0 2px 2px 0 rgba(0, 0, 0, 0.14),
			inset 0 2px 0 0 #368848;
		background-color: #2eb24a;
		color: #abffbd;

		& span {
			background-color: #abffbd;
		}
	}
}
%orange_button {
	@extend %base_button;
	height: 6.6rem;
	line-height: 6.6rem;
	padding: 0 4.8rem;
	background-color: #ff7b3a;
	background-image: url(../imgs/form_gradient_button.png);
	background-size: 60rem auto;
	background-position: -38.8rem -38rem;
	background-repeat: no-repeat;
	border-radius: 0.9rem;
	font-weight: 700;
	font-size: 1.8rem;
	color: $c_white;
	text-transform: uppercase;
	transition: all 0.3s ease;
	input {
		display: none;
	}
	&:hover {
		// background-color: #ec7235;
		animation: 0.4s form_button_background 1 linear alternate;
	}
}
//color extends
// %transp_btn_1 {
// 	@include st_btn;

// 	font-weight: 700;
// 	color: $color_white;
// 	background-color: transparent;
// 	transition: 0.3s ease;
// 	border: 2px solid $color_white;

// 	&:hover {
// 		background-color: $color_white;
// 		color: $color_black;
// 	}
// }

//size extends
// %btn_size_1 {
// 	min-width: 23.2rem;
// 	height: 5.4rem;
// 	padding: 0 2rem;

// 	line-height: 5.4rem;
// 	font-size: 1.6rem;

// 	border-radius: 2px;
// }

// .btn_white_1 {
// 	@extend %white_btn_1;
// 	@extend %btn_size_1;
// }
