@use '../helpers/abstracts' as *;

.footer {
	@extend %base_wrapper_v2;

	@include bp-max($point_5) {
		flex-direction: column;
	}
	@include bp-between($point_4, $point_3) {
		flex-direction: column;
	}
	@include bp-min($point_2) {
		flex-direction: row;
	}
}
.footer_section {
	background-color: #fff0cb;
	padding: 4.6rem 0rem;
}
.footer_left_side {
	@extend %base_wrapper;

	align-items: flex-start;
}
.footer_logo__img {
	width: 25.6rem;
	height: auto;
	margin-bottom: 2.4rem;
}
.footer_button {
	@extend %orange_button;

	@include bp-max($point_5) {
		margin-bottom: 3rem
	}
	@include bp-between($point_4, $point_3) {
		margin-bottom: 3rem
	}
}
.footer_right_side {
	@extend %base_wrapper;

	max-width: 58rem;
	width: 100%;
	align-items: flex-start;
	gap: 2.4rem 0;

	@include bp-max($point_5) {
		align-items: center;
		text-align: center;
	}
	@include bp-between($point_4, $point_3) {
		align-items: center;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: $c_black;
		font-weight: 400;
		font-size: 2.2rem;
	}
}
